.about {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 1px -100px;
    padding-right: 10px;
}

.about img {
    border-radius: 80%;
    


}

.about p {
    padding-left: 20px;
}
