
#area #formulario
{
  position:absolute;
  left: 20%;
  right: 20%;
  top: 5%;
  border-radius: 2%;
  border-style: groove;}

.formCenter .matricula {
    margin-left: -73%;
}

.formCenter .nome {
    margin-left: -83%;
}

.formCenter .dataNascimento {
    margin-left: -43%;
}

.formCenter .email {
    margin-left: -83%;
}

.formCenter .ddd {
    margin-left: -63%;
}

.formCenter .telefone {
    margin-left: -72%;
}

.formCenter .butoes {
    margin-left: 70%;
}

.formCenter .campus {
    margin-left: -10%;
}

.formCenter .curso {
    margin-left: -10%;
}

.tableUsers {
    margin-top: 10%;
}