.formCenter {
}
#area {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 33%;
    top: 20%;
    border-width:1px;  
    border-style: solid;
    border-color: rgb(63, 63, 228);
}

#area #formulario {
  position: absolute;
  margin-top: 2%;
  margin-bottom: 33%;
  margin-left: 2%;
  margin-right: 2%;
  
}

#area #formulario Label {
    margin-right: 100%;
}

.butoes {
    background-color: red;
}

.butoes .butaoInserir{
    margin-left: 95%;
}